{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@assets": "./assets",
          "@ui": "./src/ui"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
